header {
    background-color: rgba(1, 30, 65, 0.85);
    color: #b8bbc7;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 20px;
  }
  
.header-text {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

.todo-container {
    max-width: 500px;
    padding: 60px;
    margin: 0 auto;
}

.insert-container {
    background-color: #85a1db;
    border-radius: 20px;
    margin: 1em auto;
}

.open-todos {
    background-color: #a1a5b6;
    border-radius: 20px;
    margin: 1em auto;
}

.completed-todos-container {
    background-color: #747b93;
    border-radius: 20px;
    margin: 1em auto;
}

.import-export {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 0 0;
}

.material-symbols-outlined {
    font-size: 32px;
    padding: 10px;
    border: 1px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.material-symbols-outlined:hover {
    color: #b8bbc7;
    cursor: pointer;
}

.todo-header-text {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    color: #2f3034;
    font-style: italic;
    width: 100%;
    height: 48px;
}

.completed-todo {
    display: flex;
    position: relative;
}

.show-completed-button {
    right: 0;
    position: absolute;
}

.insert-textfield {
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 68px;
}

.entry {
    width: 90%;
    margin: 0 auto;
    display: flex; ;
    background-color: #e7e8ec;
    border-radius: 20px;
    margin: 0 auto 1em;
}

.entry-text {
    display: flex; 
    margin-right: auto;
    align-items: center;
    padding-left: 12px;
}

.entry-button {
    display: flex;
    margin-left: auto;
    align-items: center;
}

table {
    width: 100%;
}

td {
    height: 32px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 48px !important;
    background-color: #e7e8ec !important;
}

::ng-deep .mat-mdc-form-field-flex {
    margin-top: -4px !important;

}