<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<header>
  <div class="header-text">
    Simple ToDo Web Application
  </div>
</header>

<div class="todo-container">

  <div class="import-export">
    <label for="importToDoEntries">
      <span class="material-symbols-outlined">
        upload
      </span>
    </label>
    <input type="file" id="importToDoEntries" (change)="handleFileInput($event)" style="display: none">
    
    <label for="exportToDoEntries">
      <span class="material-symbols-outlined">
        download
      </span>
    </label>
    <button id="exportToDoEntries" (click)="exportToDoEntries()" style="display: none">Export ToDo List</button>
  </div>

  <div class="insert-container">
    <h2>Insert new ToDo</h2>
    <input type="text" placeholder="Insert ToDo Entry" [(ngModel)]="newToDoEntry" (keyup.enter)="addToDoEntry()"/>
    <button (click)="addToDoEntry()">Add ToDo</button>
  </div>

  <div class="open-todos">
    <h2>Open ToDos</h2>
    <table>
      <tr *ngFor="let openToDoEntry of openToDoEntries">
        <td>{{openToDoEntry}}</td>
        <td><button (click)="completeToDoEntry(openToDoEntry)">Complete</button></td>
      </tr>
    </table>
  </div>

  <div class="completed-todos">
    <h2>Completed ToDos</h2>
    <button (click)="showCompletedToDos()">
      {{showCompleted ? 'Hide' : 'Show'}} Completed ToDos
    </button>
    <table *ngIf="showCompleted">
      <tr *ngFor="let doneToDoEntry of doneToDoEntries">
        <td>{{doneToDoEntry}}</td>
        <td><button (click)="moveToDoEntryToOpen(doneToDoEntry)">Undone</button></td>
      </tr>
    </table>
  </div>

</div>
