<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<header>
  <div class="header-text">
    {{"Simple ToDo Web Application"}}
  </div>
</header>

<div class="todo-container">

  <div class="import-export">
    <input #fileInput type="file" id="importToDoEntries" (change)="handleFileInput($event)" style="display: none">
    <button mat-button matTooltip="Import ToDo List" (click)="fileInput.click()" class>
      <span class="material-symbols-outlined">
        upload
      </span>
    </button>

    <button mat-button matTooltip="Export ToDo List" (click)="exportToDoEntries()">
      <span class="material-symbols-outlined">
        download
      </span>
    </button>
  </div>

  <div class="insert-container">
    <div class="todo-header-text">
      {{"Insert new ToDo"}}
    </div>

    <mat-form-field class="insert-textfield" appearance="fill">
      <mat-label>ToDo</mat-label>
      <input matInput 
        placeholder="Insert ToDo Entry" 
        [(ngModel)]="newToDoEntry" 
        (keyup.enter)="addToDoEntry()"/>
    </mat-form-field>
  </div>

  <div class="open-todos">
    <div class="todo-header-text">
      {{"Open ToDos"}}
    </div>
    <table>
      <tr *ngFor="let openToDoEntry of openToDoEntries">
        <td>{{openToDoEntry}}</td>
        <td><button (click)="completeToDoEntry(openToDoEntry)">Complete</button></td>
      </tr>
    </table>
  </div>

  <div class="completed-todos-container">
    <div class="completed-todo">

      <div class="todo-header-text">
        {{"Completed ToDos"}}
      </div>

      <div class="show-completed-button">
        @if (doneToDoEntries.length > 0) {
        <button mat-icon-button aria-label="Show or hide completed todos" (click)="showCompletedToDos()"
          matTooltip="{{showCompleted ? 'Hide' : 'Show'}} Completed ToDos">
          @if (showCompleted) {
          <mat-icon>unfold_less</mat-icon>
          } @else {
          <mat-icon>unfold_more</mat-icon>
          }
        </button>
        }
      </div>
    </div>

    @if(showCompleted) {
    <table>
      @for (entry of doneToDoEntries; track entry) {
      <tr>
        <td>{{entry}}</td>
        <td><button (click)="moveToDoEntryToOpen(entry)">Undone</button></td>
        }
    </table>
    }
  </div>

</div>